<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
<!-- Barra de navegación -->
<nav th:replace="fragments/nav :: nav"></nav>

<div class="container">
  <h1>Finalizar Trayecto</h1>

  <!-- Se muestra información del trayecto activo -->
  <div>
    <p>Vehículo: <span th:text="${activePath.vehicleRegistration}"></span></p>
    <p>Odómetro inicial: <span th:text="${activePath.initialConsumption}"></span></p>
  </div>

  <!-- Formulario para finalizar trayecto -->
  <form th:action="@{/path/end}" th:object="${activePath}" method="post">

    <input type="hidden" th:field="*{id}" />

    <div>
      <label for="finalConsumption">Odómetro Final:</label>
      <!-- Asegúrate de que th:field utiliza el nombre correcto de la propiedad -->
      <input type="number" step="0.1" th:field="*{finalConsumption}" id="finalConsumption" placeholder="Valor final del odómetro"/>
    </div>
    <div>
      <label for="observations">Observaciones (opcional):</label>
      <textarea th:field="*{observations}" id="observations" placeholder="Observaciones..."></textarea>
    </div>


    <!-- Bloque para mostrar errores: se evalúa en el contexto del objeto "activePath" -->
    <div id="errorMessage" th:if="${#fields.hasErrors()}">
      <ul>
        <li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
      </ul>
    </div>
    <button type="submit" id="submitEndButton">Finalizar Trayecto</button>
  </form>
</div>

<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>
