<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments/head"/>
<body>
<!-- Barra de Navegación superior -->
<nav th:replace="fragments/nav"/>
<div class="container">

    <h2>Vehículos</h2>

    <p>Los vehículos que actualmente figuran en el sistema como disponibles son los siguientes:</p>

    <div class="table-responsive">

        <button type="button" id="updateButton" class="btn btn-primary">Actualizar</button>

        <script>
            $( "#updateButton" ).click(function() {
                $("#vehiclesTable").load('/vehicle/free/update');
            });
        </script>

        <table class="table table-hover" th:fragment="vehiclesTable" id="vehiclesTable">

            <thead>
            <tr>
                <th scope="col">Matrícula</th>
                <th scope="col">Marca</th>
                <th scope="col">Modelo</th>
                <th scope="col">Odómetro</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="vehicle : ${vehicles}">
                <td th:text="${vehicle.plate}"></td>
                <td th:text="${vehicle.brandName}"></td>
                <td th:text="${vehicle.model}"></td>
                <td th:text="${vehicle.odometer}"></td>
                <td><a th:href="${'/vehicle/refuels/' + vehicle.id}" th:text="#{list.vehicle.refuels}">refuels</a></td>
                <td><a th:href="${'/vehicle/paths/' + vehicle.id}" th:text="#{list.vehicle.paths}">paths</a></td>
            </tr>
            </tbody>

        </table>

    </div>

    <footer th:replace="fragments/pagination"/>

</div>
<footer th:replace="fragments/footer"/>
</body>
</html>
